* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body,
html {
  background-color: #4a4e69;
  height: 100%;
}
/*header*/
header {
  background-color: #5f6487;
  display: flex;
  height: 15%;
  border-bottom: 1px solid #5c607d;
  position: sticky;
}

/*nav*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.nav-links {
  font-size: 190%;
  height: 40%;
  text-align: right;
  padding-left: 150px;
  color: #ffffff;
  font-variant: "Roboto";
}
a {
  text-decoration: none;
}

.nav-links:last-child {
  padding-right: 70px;
}
/* main frontpage */

.frontpage-height {
  height: 70%;
}
.main-img {
  position: relative;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.9;
}
.main-img-flex {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #ffffff;
}
.welkom-tekst {
  margin-top: -7.5%;
}
.beschrijving-tekst {
  margin-top: -4%;
}
.main-knop {
  width: 10%;
  height: 10%;
  background-color: #5f6487;
  margin-top: 5%;
}
.main-knop-tekst {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/*footer*/
footer {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-img {
  width: 15%;
  height: 100%;
}
/*menu blokken*/
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-block {
  display: flex;
  width: 50%;
  height: 30%;
  background-color: white;
  border-radius: 7.5%;
  margin-top: 5%;
}
.menu-tekst {
  width: 75%;
}
.gerechtnaam {
  display: flex;
  justify-content: center;
  height: 20%;
  margin-top: 2.5%;
}
.prijs-reviews-menu-tekst {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  height: 10%;
}
.beschrijving-gerecht-tekst {
  height: 3%;
  margin-left: 1%;
  margin-top: 2%;
}
.menu-foto {
  border-right: solid black 2px;
  height: 30%;
  width: 30%;
}
.winkelmand-tekst {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 55%;
  margin-right: 2.5%;
  color: orangered;
}

.plus {
  font-size: xx-large;
}
.footer-margin {
  margin-top: 2%;
}
